body {
    font-family: 'Lexend Deca', sans-serif;
    margin: auto;
    text-align: center;
    width: auto;
    color: #151515;
    min-width: 800px;
}

h1 {
    font-weight: 900;
    font-size: 60px;
}

.elementsContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

/* GRID */

.gridContainer {
    display: grid;
    border: 2px solid black;
    width: 500px;
    height: 500px;
}

.gridDiv {
    user-select: none;
    /*box-sizing: border-box;
    float: left;
    border: none;*/
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

/* BUTTONS */

.btnSidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin-right: 10px;
    width: 75px;
    max-height: 504px;
}

.cpDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    width: 75px;
    height: 75px;
    background-color: #c4c4c4;
}

#colorPicker {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: transparent;
    width: 50px;
    height: 50px;
    border: none;
    cursor: pointer;
  }
  #colorPicker::-webkit-color-swatch {
    border-radius: 55%;
    border: 3px solid white;
  }
  #colorPicker::-moz-color-swatch {
    border-radius: 55%;
    border: 3px solid white;
  }
  #colorPicker::-webkit-color-swatch:hover {
    border: 3px solid white;
    transition: scale 0.1s;
    scale: 1.1;
  }
  #colorPicker::-moz-color-swatch {
    border: 3px solid white;
  }

input[type='color'] {
    -webkit-appearance: none;
    width: 80px;
    height: 80px;
    border: none;
}

.btn {
    width: 75px;
    height: 75px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #c4c4c4;
}

.btn:hover:not(.active) {
    background-color: #828282;
    cursor: pointer;

}

.btn:hover:not(.active) > .svg {
    scale: 0.8;
}

.btn svg {
    scale: 0.75;
    transition: 0.1s;
  }



.active {
    background-color: #fefefe;
}

/* GRID SIZE SLIDER */

.gridSize {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.slider {
    margin-top: 15px;
}

output {
    font-weight: 700;
    margin-top: 5px;
    font-family: 'Manrope', sans-serif;;
 }

/* DEFAULT SLIDER HIDDEN */

input[type=range] {
    -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
    width: 500px; /* Specific width is required for Firefox. */
    background: transparent; /* Otherwise white in Chrome */
  }
  
  input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
  }
  
  input[type=range]:focus {
    outline: none; /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
  }
  
  input[type=range]::-ms-track {
    width: 500px;
    cursor: pointer;
  
    /* Hides the slider so custom styles can be added */
    background: transparent; 
    border-color: transparent;
    color: transparent;
  }

  /* CUSTOM SLIDER THUMB*/

  input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: 1px solid #000000;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: #c4c4c4;
    cursor: pointer;
    margin-top: -6px;
  }

  input[type=range]::-webkit-slider-thumb:hover {
    background: #828282;
  }
  
  /* Firefox */
  input[type=range]::-moz-range-thumb {
    border: 1px solid #000000;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: #c4c4c4;
    cursor: pointer;
    margin-top: -6px;
  }
  
  /* IE */
  input[type=range]::-ms-thumb {
    border: 1px solid #000000;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: #c4c4c4;
    cursor: pointer;
    margin-top: -6px;
  }

/* CUSTOM SLIDER TRACK */

  input[type=range]::-webkit-slider-runnable-track {
    width: 500px;
    height: 4px;
    cursor: pointer;
    background: #ffffff;
    border-radius: 1.3px;
    border: 0.2px solid #010101;
  }
  
  input[type=range]::-moz-range-track {
    width: 500px;
    height: 4px;
    cursor: pointer;
    background: #ffffff;
    border-radius: 1.3px;
    border: 0.2px solid #010101;
  }
  
  input[type=range]::-ms-track {
    width: 500px;
    height: 4px;
    cursor: pointer;
    background: #ffffff;
    border-radius: 1.3px;
    border: 0.2px solid #010101;
  }
  input[type=range]::-ms-fill-lower {
    background: #ffffff;
    border-radius: 1.3px;
    border: 0.2px solid #010101;
  }
  input[type=range]::-ms-fill-upper {
    background: #ffffff;
    border-radius: 1.3px;
    border: 0.2px solid #010101;
  }

/* FOOTER */

#reficon {
  transition: rotate 1s, visibility 0s;
}

#reficon:hover {
  transform-origin: center;
  rotate: 360deg;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  position:fixed;
  bottom:0;
  left:0;
  right:0;
  height: 30px;
  background-color: #151515;
}

.fa-github {
  scale: 1.5;
  color: white;
}

.fa-github:hover {
  transition: 0.3s;
  scale: 1.7;
  rotate: 360deg;
  cursor: pointer;
}